# Dependencies
node_modules/

# Builds and bundles
dist/
coverage/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Misc
*.zip
*.zxp

# Locks
package-lock.json
pnpm-lock.yaml